@font-face {
    font-family: "Neue Metana";
    src: url("assets/fonts/NeueMetana-Regular.woff");
    font-weight: normal;
}

@font-face {
    font-family: "Neue Metana";
    src: url("assets/fonts/NeueMetana-Bold.woff");
    font-weight: bold;
}

/* Hintergrund für den gesamten Body auf #0a6cff setzen */
body {
    margin: 0;
    font-family: "Neue Metana", sans-serif;
}

.cloud-footer-image, .cloud-header-image {
    max-width: 100%;
    height: auto;
}

.main-heading {
    align-self: stretch;
    flex: 1;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    font: 400 96px "Neue Metana", sans-serif;
}

.footer-container, .header-container, .main-container {
    background-color: #0a6cff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 801px) {
    .footer-info-container {
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding-inline: 25px;
    }
}

@media (max-width: 800px) {
    .footer-info-container {
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-details {
        text-align: center;
    }
}


.copyright-container {
    padding: 10px;
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.contact-info {
    min-width: 240px;
    font-family: "Neue Metana", sans-serif; /* Anführungszeichen hinzugefügt */
    color: #0a6cff;
    font-weight: 400;
}

.logo-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 35px;
}

.logo-wrapper {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    aspect-ratio: 7.58;
    object-fit: contain;
    object-position: center;
    width: 100%;
}

.info-container {
    display: flex;
    width: 60%;
    min-width: 300px;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;

    .info-description {
        color: #fff;
        font-family: "Neue Metana", sans-serif; /* Anführungszeichen hinzugefügt */

    }

    .info-image {
        border-radius: 25px;
    }

    .info-back-button {
        align-self: center;
    }
}

.main-menu-button {
    border-radius: 25px;
    width: 72px;
    background-color: #fff;
    border: none;
    color: #0a6cff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.übertitel {
    color: white;
    text-align: center;
    min-width: 240px;
}

.weekday-label{

    color: #fff;
  
}